body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #0e2f35;
  height: 72px;
}

.menu {
  position: absolute;
  top: 27px;
  right: 158px;
}

.menu ul {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}

.logo {
  height: 72px;
  overflow: hidden;
  position: absolute;
  top: -14px;
  left: 180px;
  width: 93px;
}

.logo-image {
  width: 100px;
  height: 100px;
}

.fa-heart {
  font-size: 22px;
  color: white;
}

.menu li {
  margin-right: 40px;
}

.dropdown {
  color: white;
}

.fa-user {
  font-size: 21px;
  margin-right: 13px;
}

.dropdown span {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
  top: -3px;
}

.fa-chevron-down {
  font-size: 15px;
  color: rgb(221, 216, 216);
  position: relative;
  top: -3px;
}

.advertisment-button {
  background: #fff;
  color: #0e2f36;
  padding: 7px 12px;
  border: 5px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

.advertisment-button:hover {
  background: none;
  color: white;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  width: 70%;
}

.categories-header {
  font-size: 32px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.category-card {
  cursor: pointer;
  width: 106px;
  height: 106px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

.image-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 19px;
}

.title:hover {
  background-color: #0e2f35;
  color: white;
  padding-bottom: 3px;
}

.image-container img {
  width: 70px;
  height: 70px;
}

.pro-footer {
  background-color: #002f34;
}

.olx-pro {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
  height: 130px;
  align-items: center;
  color: white;
  width: 800px;
  margin: auto;
  font-family: "Open Sans", sans-serif;
}

.olx-pro span {
  font-size: 20px;
  font-weight: 500;
  display: block;
  margin-top: 5px;
  color: #fff;
}

.olx-description {
  background: #cbf7ee;
  padding: 76px 0 67px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description-text {
  font-size: 14px;
  line-height: 24px;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  color: #002f34;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding-top: 40px;
}

.categories-and-populars {
  background-color: #f2f4f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

.main-categories,
.popular-searches {
  width: 487px;
  height: 240px;
  margin-left: 12px;
  margin-right: 40px;
}

.categories-and-populars-text {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 14px;
  text-align: center;
  line-height: 24px;
  color: #002f34;
}

.categories-and-populars-text a {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  color: #002f34;
  padding-right: 1px;
}

.categories-and-populars-text h3 {
  font-weight: bold;
  padding-right: 5px;
}

.image-wrapper {
  height: 136px;
  margin-bottom: 10px;
}

.categories-and-populars-text span {
  text-align: center;
}

.main-categories {
  margin-left: 50px;
}

footer {
  position: relative;
  background-color: #f2f4f5;
}

.footer{
  border-top: 1px solid #7f9799;
  padding-top: 45px;
  margin-top: 35px;
}

.main-footer {
  
 
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  width: 100%;
  height: 450px;
  position: relative;
  left: -28px;
}

.links {
  display: flex;
  width: 600px;
  justify-content: space-evenly;
  margin-top: 16px;
  z-index: 2;
}

.links-wrapper {
  display: flex;
  flex-direction: column;
}

.links-wrapper a {
  color: #002f34;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.88;
}

.download-app {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  color: grey;
}

.links-wrapper li {
  margin: 3px 0;
}

.app-links a {
  text-decoration: none;
}

.app-text {
  text-align: center;
}

#downloadFromText {
  color: black;
  font-weight: bold;
}

.partners{
  z-index: 6;
}

.footer-image {
  position: absolute;
  bottom: 0px;
  left: 53%;
  transform: translateX(-50%);
  z-index: 0;
}

